@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Estonia&family=Shippori+Antique+B1&display=swap');

*{
    box-sizing: border-box;
}

#navbar{
    display: flex;
    background-color: rgb(163, 176, 219); 
    font-family: 'Estonia', cursive;
    font-size: 24pt;
    height: 25px;
    justify-content: space-evenly;
    padding: 3px;
    align-items: center;
}

#navbar a{
    color: rgb(51, 66, 132);
    text-decoration: none;
}

#navbar :hover {
    color: rgb(220, 227, 100);
}

h1 {
    color: rgb(51, 66, 132);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 62pt;
    margin-top: 15pt;
    margin-bottom: 25pt;
}

h2 {
    color: rgb(51, 66, 132);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 28pt;
}

h3 {
    color: rgb(51, 66, 132);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20pt;
}

.imagetrip1 {
    max-height: 10%;
    max-width: 10%;  
}

.imagetrip2 {
    max-height: 10%;
    max-width: 10%;  
}

.imagetrip3 {
    max-height: 100%;
    max-width: 100%;  
    position: relative;
}

.imagehp {
    max-height: 40%;
    max-width: 40%;
}

.frontpagetext {
    color: rgb(51, 66, 132);
    font-family: 'Dancing Script', cursive;
}


.intro {
    color: rgba(181, 214, 178, 0.8);
    background-color: rgb(51, 66, 132, 0.7);
    font-family: 'Estonia', cursive;
    position: fixed;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 25px;
}



.photobox {
    display: flex;
    max-height: 50vh;
    margin: 200px;
    padding:20px;
    flex-direction: row;
    justify-content: space-evenly;
}

.photos {
    max-width: auto;
    max-height: 100px;
    position:relative;
    border-style: solid;
    border-color: transparent;
}

.photobox2 {
    display: flex;
    height: auto;
    margin: 20px;
    margin-top: 550px;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.photos2 {
    display: flex;
    width: 70%;
    padding: 15px;
    align-items: center;
}

#page1background {
    background-color: rgb( 175, 188, 233);
    text-align:center;
  
}

#page2background {
    background-image: url("./le-petit-coup1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}

#page3background {
    background-image: url("le-petit-coup13.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}


.wrap {
        display:inline-flex;
        flex-wrap:wrap;
        justify-self:left;
        padding-left:65%;
        padding-top: 2%;
        color: rgb(51, 66, 132);
        font-family: 'Estonia', cursive;
        font-size: 30px;
        font-weight: bold;
        opacity:1;
}

.contactblock{
    display:flex;
    flex-wrap:wrap;
}

.trip{
    display:block ;
    padding-top:0%;
    padding-left:65%;

}
.star{
    display:inline-flex;
    flex-wrap:wrap;
    justify-self:left;
    padding-left:65%;
    padding-top: 2%;
    color: rgb(51, 66, 132);
    font-family: 'Estonia', cursive;
    font-size: 45px;
    font-weight: bold;
    opacity:1;
}